<div class="dropdown">
  <section class="dropdown__section"
           ng-class="{
              'state--loading': quickSearchVM.states.searching.tracks
            }">
    <header class="dropdown__section__header">
      <h4 class="dropdown__section__title">Tracks</h4>
    </header>
    <div class="message show--loading m--visibility">
      searching...
    </div>
    <ul class="dropdown__section__list">
      <li>
        <div class="result result--track">
          <div class="result__title">Song Title</div>
          <div class="result__subtitle">Subtitle</div>
        </div>
      </li>
      <li>
        <div class="result result--track">
          <div class="result__title">Song Title</div>
          <div class="result__subtitle">Subtitle</div>
        </div>
      </li>
      <li>
        <div class="result result--track">
          <div class="result__title">Song Title</div>
          <div class="result__subtitle">Subtitle</div>
        </div>
      </li>
      <li>
        <div class="result result--track">
          <div class="result__title">Song Title</div>
          <div class="result__subtitle">Subtitle</div>
        </div>
      </li>
    </ul>
  </section>
  <section class="dropdown__section"
            ng-class="{
              'state--loading': quickSearchVM.states.searching.artists
            }">
    <header class="dropdown__section__header">
      <h4 class="dropdown__section__title">Artists</h4>
    </header>
    <div class="message show--loading m--visibility">
      searching...
    </div>
    <ul class="dropdown__section__list">
      <li>
        <div class="result result--artist">
          <div class="result__thumb"></div>
          <div class="result__info">
            <div class="result__title">Artist Name</div>
          </div>
        </div>
      </li>
      <li>
        <div class="result result--artist">
          <div class="result__thumb"></div>
          <div class="result__info">
            <div class="result__title">Artist Name</div>
          </div>
        </div>
      </li>
      <li>
        <div class="result result--artist">
          <div class="result__thumb"></div>
          <div class="result__info">
            <div class="result__title">Artist Name</div>
          </div>
        </div>
      </li>
      <li>
        <div class="result result--artist">
          <div class="result__thumb"></div>
          <div class="result__info">
            <div class="result__title">Artist Name</div>
          </div>
        </div>
      </li>
    </ul>
  </section>
  <section class="dropdown__section">
    <header class="dropdown__section__header">
      <h4 class="dropdown__section__title">Genres</h4>
    </header>
    <ul class="dropdown__section__list">
      <li>
        <div class="result result--genre">
          <div class="result__title">Genre Name</div>
        </div>
      </li>
      <li>
        <div class="result result--genre">
          <div class="result__title">Genre Name</div>
        </div>
      </li>
      <li>
        <div class="result result--genre">
          <div class="result__title">Genre Name</div>
        </div>
      </li>
      <li>
        <div class="result result--genre">
          <div class="result__title">Genre Name</div>
        </div>
      </li>
    </ul>
  </section>
</div>
