.results-nav {
  position: fixed;
  bottom: 40px - 15px;
  left: 0;
  right: 0;

  text-align: center;

  a {
    @include border-radius(30px);
    @include transition(all 250ms ease);
    display: inline-block;
    font-size: .9em;
    text-transform: uppercase;
    //margin: 0 5px;
    padding: 15px 35px;
    background-color: transparent;
    font-weight: 500;

    &.state--active {
      background-color: #{map_get($colours, default)};
      color: #ffffff;
    }

  }

}
