
.results-header,
.results-legends,
.results-nav {
  z-index: #{map_get($zindex, ui)};
}

.results-container {

}

.audio-container {
  width: 0;
  height: 0;
  display: none;
}

.results-prediction {
  @extend %flex-centre;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: #{map_get($zindex, ui)};
  pointer-events: none;

  &.ng-hide-remove {
    animation: fadeIn 300ms cubic-bezier(.825,0,.5,1);
  }

  &.ng-hide-add {
    animation: fadeOut 300ms cubic-bezier(.825,0,.5,1);
  }

  h3 {
    font-size: 1.5em;
    line-height: 1.3em;
    max-width: 500px;
    text-align: center;
    font-weight: 700;
    background-color: rgba(255,255,255,0.85);
    padding: 5px;
  }

}
