
.results-overlay {
  @extend %flex-centre;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;

  .content {
    @extend %flex-centre;
    position: relative;
    width: 400px;
    height: 400px;
    padding: 0 20px;
  }

}

  .results-overlay__text {
    color: #ffffff;
    text-align: center;
    font-weight: 500;
    z-index: #{map_get($zindex, ui)};

    .track-title {
      font-size: 28px;
      margin-bottom: 12px;
    }

    .artist-name {
      font-size: 22px;
      margin-top: 12px;
    }

  }

  .results-overlay__content {
    color: #{map_get($colours, super)};
    overflow: hidden;
    position: absolute;
    width: 250px;

    .mood--super & {
    }
    .mood--high & {
      color: #{map_get($colours, high)};
    }
    .mood--medium & {
      color: #{map_get($colours, medium)};
    }
    .mood--average & {
      color: #{map_get($colours, average)};
    }
    .mood--low & {
      color: #{map_get($colours, low)};
    }

    &.top-left {
      top: 40px;
      left: -200px;
    }

    &.bottom-left {
      bottom: 80px;
      left: -200px;
    }

    &.top-right,
    &.bottom-right {
      text-align: right;

      .line {
        transform: translateX(100%);
      }

    }

    &.top-right {
      top: 80px;
      right: -200px;
    }

    &.bottom-right {
      bottom: 40px;
      right: -200px;
    }

    .value {
      font-size: 52px;
      font-weight: bold;
    }

    .line {
      background-color: #{map_get($colours, super)};
      height: 3px;
      transform: translateX(-100%);
      margin: 4px 0 12px 0;

      .state--visible & {
        transform: translateX(0);
      }

      .mood--super & {
      }
      .mood--high & {
        background-color: #{map_get($colours, high)};
      }
      .mood--medium & {
        background-color: #{map_get($colours, medium)};
      }
      .mood--average & {
        background-color: #{map_get($colours, average)};
      }
      .mood--low & {
        background-color: #{map_get($colours, low)};
      }

    }

    .label {
      font-weight: 500;
      font-size: 16px;
    }

  }
