
$transition-time: 400ms;

.full-overlay {
  @extend %flex-centre;
  @include transition(all $transition-time ease);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 60px 0;
  z-index: #{map_get($zindex, overlay)};

  &.ng-hide-remove {
    //display: none;
    animation: fadeIn $transition-time cubic-bezier(.825,0,.5,1);

    &.ng-hide-remove-active {
      //display: block;
    }

    //.content {
    //  animation: fadeInDownBig $transition-time cubic-bezier(.825,0,.5,1);
    //}
    //
    //.underlay {
    //}

  }

  &.ng-hide-add {
    animation: fadeOut $transition-time cubic-bezier(.825,0,.5,1);
  }

  .underlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255,255,255,0.95);
  }

  .content {
    padding: 20px;
    width: 540px;
    margin: 0 auto;
    position: relative;
  }

  .close-button {
    @extend .spritesheet;
    position: fixed;
    top: 8px;
    right: 8px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background-position: -32px 0;
  }

  .input-wrapper {
    position: relative;

    input:focus + .edit-icon {
      visibility: hidden;
    }

    .edit-icon {
      @extend .spritesheet;
      width: 32px;
      height: 32px;
      position: absolute;
      top: 2px;
      right: 0;
      pointer-events: none;
      opacity: 0.35;
    }

  }

}
