.results-svg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.circle-container {
  @include transition(opacity 350ms ease);

  .circle-is-selected & {
    opacity: 0.35;

    &:hover,
    &.selected {
      opacity: 1;
    }

    &.selected {

      .circle-track {
        cursor: default;
      }

      .circle__pos {
        opacity: 0;
        //transform: scale3d(3, 3, 3);
      }

    }

    .circle-track {
      animation: 0;
    }

  }

  &.placeholder {
    pointer-events: none;
  }

  &.selected {

    .circle-track {
      //animation: pulseTempoSmall 2s ease infinite;
    }

    .circle__text {
      pointer-events: auto;
      opacity: 1;
    }

  }

  &.popularity--average,
  &.popularity--low {

    g {
      transform: translateY(-2px);
    }

  }

}

  .circle-track {
    @include transition(all 250ms ease);
    fill: #{map_get($colours, super)};
    cursor: pointer;
    position: relative;
    transform-origin: 50% 50%;
    transform: scale(1);
    will-change: transform;

    &.mood--super {
    }
    &.mood--high {
      fill: #{map_get($colours, high)};
    }
    &.mood--medium {
      fill: #{map_get($colours, medium)};
    }
    &.mood--average {
      fill: #{map_get($colours, average)};
    }
    &.mood--low {
      fill: #{map_get($colours, low)};
    }

    &:hover {
      transform: scale(1.05);
    }

    // todo finish adding in popularity etc to intro
    animation: bounceIn 700ms ease;

    .popularity--super & {
      animation: bounceIn 700ms ease;
    }

    .popularity--high & {
      animation: bounceIn 600ms ease;
    }

    .popularity--medium & {
      animation: bounceIn 500ms ease;
    }

    .popularity--average & {
      animation: bounceIn 400ms ease;
    }

    .popularity--low & {
      animation: bounceIn 300ms ease;
    }

  }

  .circle__text {
    @include transition(all 500ms ease);
    fill: #ffffff;
    font-size: 28px;
    font-weight: 500;
    opacity: 0;
    cursor: pointer;
    pointer-events: none;

    .popularity--super & {

    }

    &.circle__text--sub {
      font-size: 20px;
    }

  }

  .circle__pos {
    @include transition(transform 650ms cubic-bezier(0.68, -0.55, 0.265, 1.55), opacity 200ms ease);
    fill: #ffffff;
    font-size: 26px;
    font-weight: 500;
    pointer-events: none;
    will-change: transform;

    &.tiny {
      //fill: red;
      //transform: scale3d(0.5, 0.5, 0.5) translate3d(0,0,50px);
    }

    .popularity--average &,
    .popularity--low & {
      font-size: 22px;
      //line-height: 20px;
      //transform: translateY(-2px);

      &.tiny {
        //transform: scale3d(0.5, 0.5, 0.5) translateY(-2px);
      }

    }

  }
