.results-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 35px 0;

  .top-right {
    @extend .clearfix;
    position: absolute;
    top: 35px;
    right: 32px;

    .option {
      float: left;
      margin-right: 10px;

      &:last-of-type {
        margin-right: 0;
      }

    }

  }

  .btn--mute {
    position: relative;
    top: 4px;
  }

}

  .results-title {
    font-size: 2em;
    text-align: center;
    font-weight: bold;
  }
