.blocks {
  margin-top: 15px;

  > li {
    margin-top: 10px;

    &:first-of-type {
      margin-top: 0;
    }

  }

}

  .block {
    @extend .clearfix;
    cursor: default;
    position: relative;

    &:hover {

      .remove-button {
        visibility: visible;
      }

    }

    .remove-button {
      visibility: hidden;
      position: absolute;
      top: 8px;
      right: 2px;
    }

  }

    .block__thumb {
      @include border-radius(50%);
      float: left;
      width: 42px;
      height: 42px;
      background-color: rgba(0,0,0,0.2);
      margin-right: 8px;
    }

    .block__info {
      overflow: hidden;
    }

      .block__title {
        color: #555555;
        font-size: .9em;
        font-weight: 500;
        margin: 7px 0 3px 0;
      }

      .block__subtitle {
        color: #777777;
        font-size: .7em;
        font-weight: 500;
      }

