.blocks {
  margin-top: 15px;
}

  .block {
    @extend .clearfix;
    @include transition(border-color 100ms ease, transform 350ms cubic-bezier(.71,2,.52,.48));
    @include border-radius(4px);
    cursor: pointer;
    padding: 10px;
    border: 2px solid transparent;
    border-bottom-width: 4px;

    &:hover {
      border-color: rgba(0,0,0,0.4);
    }

    &:active {
      transform: scale(1.05);
    }
  }

    .block__thumb {
      @include border-radius(50%);
      float: left;
      width: 42px;
      height: 42px;
      background-color: rgba(0,0,0,0.2);
      margin-right: 10px;
    }

    .block__info {
      overflow: hidden;
    }

      .block__title {
        font-size: .8em;
        font-weight: 700;
        margin: 6px 0 3px 0;
      }

      .block__subtitle {
        font-size: .7em;
        font-weight: 500;
      }
