.blocks {
  margin-top: 15px;

  > li {
    margin-top: 10px;

    &:first-of-type {
      margin-top: 0;
    }

  }

}

  .block {
    @extend .clearfix;
    cursor: default;
    position: relative;

    &:hover {

      .remove-button {
        visibility: visible;
      }

    }

    .remove-button {
      visibility: hidden;
      position: absolute;
      top: 1px;
      right: 2px;
    }

  }

    .block__thumb {
      @include border-radius(50%);
      float: left;
      width: 24px;
      height: 24px;
      background-color: rgba(0,0,0,0.2);
      margin-right: 6px;
      position: relative;
      top: 2px;
    }

    .block__info {
      overflow: hidden;
      padding-right: 25px;
    }

      .block__title {
        @include text-truncate();
        color: #555555;
        font-size: .85em;
        font-weight: 500;
        margin: 0 0 3px 0;

        .subtitle {
          color: #aaaaaa;
          font-weight: 300;
          font-size: .9em;
        }

      }

      .block__subtitle {
        color: #aaaaaa;
        font-size: .7em;
        font-weight: 500;
        font-style: italic;
        padding-bottom: 2px;
      }

