.box {
  @include box-shadow(0, 2px, 15px, rgba(0,0,0,0.05));
  @include border-radius(3px);
  background-color: #ffffff;
  border: 1px solid #f0f0f0;
  padding: 15px;

  &.box--slimmer {
    padding-left: 7px;
    padding-right: 7px;

    .box__title {
      padding: 0 7px;
    }

  }

  &.box--less-padding {
    padding: 15px 0 0 0;

    .box__title-wrapper {
      padding: 0 15px;
    }

  }

  &.full {
    height: 100%; // temporary
  }

}

  .box__title {
    @extend .heading--small;
  }

.flat-box {
  padding: 15px 0;
}

  .flat-box__title {
    @extend .box__title;
  }
