.dropdown {
  @include border-radius(3px);
  @include box-shadow-multiple(0 0 1px rgba(0,0,0,0.1), 0 0 10px rgba(0,0,0,0.05));
  background-color: #ffffff;
  //padding: 15px;
  z-index: 100;
  padding-bottom: 10px;

  &.ng-hide-remove {
    animation: slideInLeft 250ms ease;
  }

  &.ng-hide-add {
    animation: slideOutLeft 250ms ease;
  }

}

  .dropdown__section {
    position: relative;

    &.dropdown__section--tracks {
      min-height: 204px; // not dynamic...
    }

    &.dropdown__section--artists {
      min-height: 244px; // not dynamic...
    }

    &.dropdown__section--genres {
      min-height: 162px; // not dynamic...
    }

  }

    .dropdown__section__header {
      padding: 15px 15px 5px 15px;

      .searching-message {
        display: inline-block;
      }

    }

    .dropdown__section__title {
      @extend .heading--small;
    }

    .dropdown__section__list {

      > li {

      }

    }

.message {
  color: #cccccc;
  padding: 5px 5px;
  font-style: italic;
  font-size: .85em;
  pointer-events: none;

  &.padded {
    padding: 5px 15px;
  }

}
