.intro {
  position: relative;
  z-index: #{map_get($zindex, ui)};
  text-align: center;

  h1 {
    //color: #ffffff;
    color: #{map_get($colours, default)};
    font-size: 3.8em;
    margin-bottom: 50px;
    padding-top: 150px;

    span {
      font-weight: 700;
    }

  }

  h3 {
    line-height: 1.6em;
    max-width: 600px;
    margin: 0 auto 140px auto;
  }

}

.intro-svg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  .circle-container {

    &.selected {

      .circle-track {
        animation: pulseTempoSmall 2s ease infinite;
      }

    }

  }

}
