
.loading-container {
  @include transition(all, .5s, cubic-bezier(.825,0,.5,1));
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: #{map_get($zindex, overlay)};

  &.ng-hide-remove {
    opacity: 1;
  }

  &.ng-hide-add {
    opacity: 0;
  }

}

.loading-circle {
  //@include border-radius(50%);
  //animation: pulseTempoSmall 2s ease infinite;
  //background-color: #{map_get($colours, super)};
  color: #ffffff;
  height: 400px;
  font-size: 1.8em;
  text-align: center;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}
