.playlist {
  font-size: 15px;
  margin-top: 30px;

  .save-wrapper {
    margin-top: 30px;
    text-align: center;
  }

}

.save-button {

  span {
    display: inline-block;
  }

  .text--saving,
  .text--saved {
    display: none;
  }

  &.state--saving {

    .text--saving {
      display: inline-block;
    }

    .text--save {
      display: none;
    }

  }

  &.state--saved {
    animation: pulse 300ms cubic-bezier(.825,0,.5,1);
    cursor: default;

    .text--saved {
      display: inline-block;
    }

    .text--save {
      display: none;
    }

  }

}

.playlist__header,
.playlist-track {
  @extend .clearfix;

  .col {
    @extend %text-truncate;
    float: left;
    line-height: 1.1em;
  }

  .col--middle {
    float: none;
    overflow: hidden;

    .col {
      padding: 0 10px;
    }

  }

  .col--pos {
    width: 30px;
  }

  .col--duration {
    float: right;
    width: 70px;
    text-align: right;
  }

  .col--song,
  .col--artist {
    font-weight: 700;
    width: 38%;
  }

  .col--album {
    width: 24%;
  }

}

.playlist__header {
  border-bottom: 1px solid transparentize(map_get($colours, default), 0.9);
  padding-bottom: 10px;
  margin-bottom: 5px;
}

.playlist__list {

  > li {
    margin: 18px 0;
  }

}

.playlist-track {

}

