
$general-padding: 40px;

.workshop-top {
  @extend .clearfix;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 160px;
  padding: $general-padding;
  display: flex;
}

  .workshop-side {
    @extend .clearfix;
    flex: 0 0 440px;
    width: 440px;
    height: 100%;
    margin-right: $general-padding;
    display: flex;
  }

    .workshop-filters {
      flex: 0 0 180px;
      height: 100%;
      margin-right: $general-padding;

      .box {
        margin-top: $general-padding;

        &:first-of-type {
          margin-top: 0;
        }

      }

    }

    .workshop-results {
      flex-grow: 1;
    }

  .workshop-main {
    flex-grow: 1;
    height: 100%;
  }

.workshop-bottom {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  height: 160px;
  padding: 0 $general-padding $general-padding $general-padding;
}
