<div class="box seeds droppable-box"
     jqyoui-droppable="seedsVM.drop"
     data-drop="true"
     data-jqyoui-options="seedsVM.dropOptions"
     ng-model="seedsVM.seeds">
  <h3 class="box__title">Seeds</h3>
  <ul class="blocks">
    <li ng-repeat="seed in seedsVM.seeds">
      <seed data="seed"></seed>
    </li>
  </ul>
  <p class="small-message"
    ng-show="seedsVM.seeds.length === 0">
    drag and drop a seed here or search above for seeds
  </p>
  <div class="drop-message">
    <div class="text">Drop seeds here</div>
  </div>
</div>
