$colours: (
  //default: #FFFFFF,
  default: #0038e0,
  //default: #8A9BBF,
  //background: #1e3264,
  background: #ffffff,
  //background: #1e3264,
  highlight: #D1859C,
  primary: #ea1e32,
  dance: #FF6436,
  tempo: #F5E72C,
  energy: #509BF6,

  //popularity
  super: #e30039,
  high: #cb0a3e,
  medium: #b21743,
  average: #81224e,
  low: #1e3064
);
